<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: whitesmoke;
        }

        h1 {
            color: maroon;
            margin-left: 40px;
        }

        p {
            color: darkred;
            font-size: 18px;
            margin-left: 40px;
            margin-bottom: 10px;
        }
    </style>


</head>
<body>
<p>Employee ID: <b>{{ id }}</b></p>
<p>Employee First Name: <b>{{ employees_first_name }}</b></p>
<p>Employee Last Name: <b>{{ employees_last_name }}</b></p>
<p>Department Name: <b>{{ department_name }}</b></p>
<p>Employee Salary: <b>{{ position }}</b></p>
<p>Logged as <b>{{ logged }}</b></p>


</body>
</html>